{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="form-w3-agile">
            <div class="ui-datepicker-date">
                <input name="startDate" id="startDate" class="date startDate" readonly value="2017-12-20" type="text"
                       onchange="draw_area_graph();">
                -
                <input name="endDate" id="endDate" class="date endDate" readonly value="2018-01-01" type="text"
                       onchange="draw_area_graph();">
            </div>
            <tr>
                <td id="graph" colspan="7" rowspan="8">
                    <div id="graph"></div>
                </td>
            </tr>
            <script type="text/javascript">
                init_graph();
                {% for date, area in data %}
                    make_record('{{ date }}', '{{ area }}');
                {% endfor %}
                draw_area_graph();
            </script>
        </div>
    </div>
{% endblock %}

