{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="main-agileits">
            <div class="form-w3-agile">
                <h2 class="sub-agileits-w3layouts">找回密码</h2>
                <div class="web-width">
                    <div class="for-liucheng">
                        <div class="liulist for-cur"></div>
                        <div class="liulist for-cur"></div>
                        <div class="liulist"></div>
                        <div class="liulist"></div>
                        <div class="liutextbox">
                            <div class="liutext for-cur"><em>1</em><br/><strong>填写账户名</strong></div>
                            <div class="liutext for-cur"><em>2</em><br/><strong>验证身份</strong></div>
                            <div class="liutext"><em>3</em><br/><strong>设置新密码</strong></div>
                            <div class="liutext"><em>4</em><br/><strong>完成</strong></div>
                        </div>
                    </div>
                    <dt style="color:white">已验证邮箱：</dt>
                    <dd><input type="text" value={{ user_email }} readonly/></dd>
                    <a role="button" class="btn btn-default" onclick="send_email('{{ user_email }}','{{ verification_code }}')">获取邮箱验证码</a>
                    <form method="post" enctype="multipart/form-data" action="{% url 'forget_password3' %}">
                        {% csrf_token %}
                        <div class="clears"></div>
                        <input type="hidden" id="username" name="username" value="{{ username }}">
                        <dl>
                            <dd>
                                <input type="text" id="verification_code" placeholder="邮箱校验码" name="verification_code" required/>
                            </dd>
                            <div class="clears"></div>
                        </dl>
                        <div class="submit-w3l">
                            <input type="submit" value="下一步">
                        </div>
                    </form>
                </div>
            </div>
            {{ verification_code }}
        </div>
    </div>
{% endblock %}
