{% extends 'staff_base.html' %}
{% block content %}
    {% load static %}
    <script src="{% static 'js/jquery.emoji.js' %}"></script>

    <script type="text/javascript">
        var num = {{ processNum }};
        check_process_num(num);
    </script>

    <div class="staff_box_l">
        <div class="menu">
            会话中心
        </div>
        <div class="menu">
            会话评估
        </div>
        <div class="menu">
            历史会话
        </div>
    </div>
    <div class="staff_box_c">
        <div class="session">
            <div class="session_on">
                <div class="chat_num">
                    会话中
                </div>
                <div class="select-client">
                </div>
            </div>
            <div class="session_off">
                <div class="chat_num">
                    离线会话
                </div>
            </div>
        </div>
    </div>

    <div id="staff_box_r">
        <div class="tabbable" id="tabs-605696">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-481346" data-toggle="tab">客户信息</a>
                </li>
                <li>
                    <a href="#panel-97847" data-toggle="tab">常用信息</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-481346">
                    <ul>
                        <li>

                            <span class="text_l">关键字：</span>
                            <span class="text_r"></span>
                        </li>
                        <li>

                            <span class="text_l">搜索引擎：</span>
                            <span class="text_r">aaa</span>
                        </li>
                        <li>

                            <span class="text_l">ip地址：</span>
                            <span class="text_r" keyword="aaa">{{ user.staffIP }}</span>
                        </li>
                        <li>

                            <span class="text_l">对话发起页：</span>
                            <span class="text_r" keyword="aaa">aaa</span>
                        </li>
                        <li>

                            <span class="text_l">会话次数：</span>
                            <span class="text_r" keyword="aaa">aaa</span>
                        </li>
                        <li>

                            <span class="text_l">浏览器：</span>
                            <span class="text_r" keyword="aaa">aaa</span>
                        </li>
                        <li>

                            <span class="text_l">操作系统：</span>
                            <span class="text_r" keyword="aaa">aaa</span>
                        </li>

                    </ul>
                </div>
                <div class="tab-pane" id="panel-97847">
                    <p>
                        常用语
                    </p>
                    {% for answer in answer_list %}
                        <a onclick="quick_message('{{ user.process_num }}', '{{ answer.answer }}')">
                            <p>{{ answer.answer }}</p></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        addClient('{{ user.get_image_url }}');
    </script>

{% endblock %}