{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container">
        <h3>今天的统计{{ today_date }}</h3>
        <tr>
            <td id="graph" colspan="7" rowspan="8">
                <div id="graph"></div>
            </td>
        </tr>
        <script type="text/javascript">
            init_graph();
            {% for time, num in data %}
                make_record('{{ time }}', {{ num }});
            {% endfor %}
            draw_todays_graph();
        </script>
    </div>
{% endblock %}